<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header" *ngIf="auth.isLoggedIn() && customer">
            <span class="navbar-brand">
                Welcome, {{customer.firstName}}
            </span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="!auth.isLoggedIn()"
                    [ngClass]="{active: router.url == '/login'}">
                    <a routerLink="/app/login">
                        <b>Log in</b>
                    </a>
                </li>
                <li [ngClass]="{active: router.url == '/videos'}">
                    <a routerLink="/app/videos">
                        {{isRenting
                            ? 'Videos for rent'
                            : 'Consignment videos for sale'}}
                    </a>
                </li>
                <li *ngIf="auth.isLoggedIn()"
                    [ngClass]="{active: router.url == '/cart'}">
                    <a routerLink="/app/cart">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        Cart <span class="cart-summary">({{cart.getSummary()}})</span>
                    </a>
                </li>
                <li ngbDropdown *ngIf="auth.isLoggedIn()">
                    <a ngbDropdownToggle role="button">
                        Your account <span class="caret"></span>
                    </a>
                    <ul ngbDropdownMenu>
                        <li role="menuitem">
                            <a routerLink="/app/rentedVideos">
                                Your rented videos
                            </a>
                        </li>
                        <li role="menuitem">
                            <a routerLink="/app/consignment">
                                Your videos on consignment
                            </a>
                        </li>
                        <li role="menuitem">
                            <a routerLink="/app/changePassword">
                                Change password
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="pointer" (click)="logOuter.logOut()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="text-center background">
    <img src="assets/images/discountvideo.gif"
        alt="Discount Video" style="margin: 5px 0"/>
</div>
