<div class="container text-center">
    <img src="assets/images/discountvideo.gif"
        alt="Discount Video" class="margin-top-10px"/>
</div>
<div class="center margin-top-10px" style="padding: 10px">
    <h4>Warning</h4>
    <p class="age-warning">{{ageWarning1}}</p>
    <p class="age-warning">{{ageWarning2}}</p>
    <h4 class="margin-top-30px">Terms and Conditions</h4>
    <div>
        <textarea [ngModel]="terms" style="width: 80%; max-width: 600px"
            rows="8" readonly="readonly" title="Terms">
        </textarea>
    </div>
    <div class="margin-top-20px">
        <button id="agree" type="button" class="btn btn-primary btn-lg"
            (click)="areTermsAgreedTo = true" [disabled]="areTermsAgreedTo">
            I agree
        </button>
        <button class="btn btn-primary btn-lg margin-left-30px"
            (click)="window.location.href='http://disney.com'"
            [disabled]="areTermsAgreedTo">
            I do not agree
        </button>
    </div>
    <div *ngIf="areTermsAgreedTo">
        <h3 class="margin-top-30px">
            What you would like to do during this visit?
        </h3>
        <button id="rent" type="button" class="btn btn-primary btn-lg"
            (click)="onViewVideosClicked(true)">
            Rent DVDs
        </button>
        <button type="button" class="btn btn-primary btn-lg margin-left-30px"
            (click)="onViewVideosClicked(false)">
            Purchase consignment DVDs
        </button>
    </div>
</div>
