<h4 class="margin-top-30px">Thank you for your order</h4>

<div class="margin-top-20px" *ngIf="order">
    An order confirmation message has been sent to {{order.customer.emailAddress}}.
</div>

<div *ngIf="order && hasRentals" class="margin-top-20px">
    Please remember to return your video rentals by
    {{order.rentalsDueDate | date: "MMMM d, yyyy"}} to avoid late fees.
</div>
