<div class="left-align margin-top-20px">
    <h4 style="display: inline; margin-right: 10px">
        {{isRenting ? 'Videos for rent' : 'Consignment videos for sale'}}
    </h4>
    <span *ngIf="isRenting">
        (Due back: {{cart.getRentalDueDate() | date:'MMM. d'}})
    </span>
    <table class="table table-striped table-hover left-align cart-table">
        <thead>
            <tr>
                <th>Title</th>
                <th class="right-align">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of
                (isRenting ? rentalVideos : forSaleVideos)"
                (click)="onVideoClick(video)">
                <td>{{video.title}}</td>
                <td class="right-align">
                    {{(video.isRental ? prices.rental : prices.forSale)
                        | currency: 'USD'}}
                </td>
                <td class="center">
                    <button type="button" class="btn btn-danger btn-xs"
                        (click)="$event.stopPropagation(); cart.removeVideo(video);">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="center" *ngIf="!cart.isEmpty()">
        <div class="large-font">
            Total: {{cart.getTotalPrice() | currency: 'USD'}}
        </div>
        <small>(before tax and shipping are added)</small><br>
        <button type="button" class="btn btn-primary margin-top-10px"
            routerLink="/app/checkout" [disabled]="cart.getTotalPrice() <= 0">
            Checkout
        </button>
        <div class="smaller-font margin-top-10px" *ngIf="customer">
            You have {{(customer.credit || 0) | currency: 'USD'}}
            of consignment credit<br>which may be applied to your current order
        </div>
    </div>
</div>
