<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" style="padding: 10px">
                <img src="assets/images/discountvideo.gif"
                    style="height: 32px; display: inline" alt="Discount Video"/>
                Administration
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" *ngIf="auth.isLoggedIn()">
                <li [ngClass]="{active: router.url == '/admin/videos'
                    || router.url == '/admin/editVideo'
                    || router.url == '/admin/addVideo'}">
                    <a routerLink="/admin/videos">
                        Videos
                    </a>
                </li>
                <li [ngClass]="{active: router.url == '/admin/customers'
                    || router.url == '/admin/editCustomer'
                    || router.url == '/admin/addCustomer'}">
                    <a  routerLink="/admin/customers">
                        Customers
                    </a>
                </li>
                <li [ngClass]="{active: router.url == '/admin/orders'
                    || router.url == '/admin/editOrder'}">
                    <a routerLink="/admin/orders">
                        Orders
                    </a>
                </li>
                <li ngbDropdown>
                    <a ngbDropdownToggle role="button">
                        Other <span class="caret"></span>
                    </a>
                    <ul ngbDropdownMenu role="menu">
                        <li role="menuitem">
                            <a routerLink="/admin/admins">
                                View admins
                            </a>
                        </li>
                        <li role="menuitem">
                            <a routerLink="/admin/createAdmin">
                                Create admin
                            </a>
                        </li>
                        <li role="menuitem">
                            <a routerLink="/admin/changePassword">
                                Change your password
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="pointer" (click)="logOuter.logOut()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view class="container text-center"></div>
