<div class="left-align" *ngIf="video">
    <h3>{{isForAdding ? "Add" : "Edit"}} video</h3>
    <div class="form-group inline-block">
        <label class="control-label" for="title">Title</label>
        <input id="title" class="form-control long-field" [(ngModel)]="video.title"/>
    </div>
    <div class="form-group inline-block" *ngIf="video.isRental">
        <label class="control-label" for="code">Code</label>
        <input id="code" class="form-control short-field" [(ngModel)]="video.code"/>
    </div>
    <div class="form-group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"
                [ngClass]="{active: video.isRental}" (click)="video.isRental = true">
                Rental
            </button>
            <button type="button" class="btn btn-default"
                [ngClass]="{active: !video.isRental}" (click)="video.isRental = false">
                Consignment
            </button>
        </div>
    </div>
    <div class="form-group input-group">
        <label class="control-label" for="studio">Studio</label>
        <input id="studio" type="text" class="form-control longer-field"
            [(ngModel)]="video.studio">
        <div class="input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-default" ngbDropdownToggle>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul ngbDropdownMenu>
                <li *ngFor="let studio of studios">
                    <a (click)="video.studio = studio">{{studio}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="director">Director</label>
        <input id="director" class="form-control long-field"
            [(ngModel)]="video.director"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="year">Year</label>
        <input id="year" name="year" class="form-control tiny-field" type="number"
            [(ngModel)]="video.year"/>
        <div role="alert">
            <span class="error" *ngIf="!isYearValid()">
                Please enter a valid year
            </span>
        </div>
    </div>
    <div class="form-group input-group">
        <label class="control-label" for="tags">Tags</label>
        <input id="tags" type="text" class="form-control medium-field"
            [(ngModel)]="tag">
        <div class="input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-default btn-sm"
                (click)="video.tags.push(tag); tag = null" [disabled]="!tag">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default" ngbDropdownToggle>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul ngbDropdownMenu>
                <li *ngFor="let tag of tags">
                    <a (click)="video.tags.push(tag)">{{tag}}</a>
                </li>
            </ul>
        </div>
        <div *ngFor="let tag of video.tags">
            {{tag}}
            <button type="button" class="btn btn-default btn-sm margin-left-10px"
                (click)="video.tags.splice(video.tags.indexOf(tag), 1)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
    <div class="form-group input-group" *ngIf="!video.isRental">
        <label class="control-label" for="consignmentCustomer">Consignment Customer</label>
        <select id="consignmentCustomer" class="form-control long-field"
            [(ngModel)]="video.consignmentCustomerId"
            (change)="onConsignmentCustomerSelected()">
            <option *ngFor="let name of customerNames" [value]="name._id">
                {{name.lastName + ', ' + name.firstName}}
            </option>
        </select>
    </div>
    <div class="form-group margin-top-20px">
        <button class="btn btn-primary" (click)="saveVideo()"
            [disabled]="shouldDisableSaveButton()">
            Save
        </button>
        <button class="btn btn-default margin-left-15px" routerLink="/admin/videos">
            Cancel
        </button>
        <button class="btn btn-danger btn-sm margin-left-50px"
            *ngIf="!isForAdding" (click)="deleteVideo()">
            Delete
        </button>
    </div>
</div>

