<div class="margin-top-10px">
    <dv-items-per-page-select domain="Videos" [itemsPerPage]="videosPerPage"
                              [onSelect]="onVideosPerPageSelect">
    </dv-items-per-page-select>

    <div class="btn-group search-bar-section" role="group">
        <button type="button" class="btn btn-default"
            [ngClass]="{active: isForRentals()}"
            (click)="onVideoTypeClick(videoTypes.rentals)">
            Rentals
        </button>
        <button type="button" class="btn btn-default"
            [ngClass]="{active: !isForRentals()}"
            (click)="onVideoTypeClick(videoTypes.sales)">
            Consignments
        </button>
    </div>
    <dv-search-field domain="titles" [searchText]="titleSearchText"
                     [onSubmit]="onTitleSearchTextChange">
    </dv-search-field>
    <dv-search-field domain="codes" [searchText]="codeSearchText" *ngIf="isForRentals()"
                     [onSubmit]="onCodeSearchTextChange">
    </dv-search-field>
</div>

<div class="pagination-header">Filter by title first character</div>
<dv-first-letter-filter [currentLetter]="firstLetter"
                        [onLetterSelect]="onFirstLetterSelect">
</dv-first-letter-filter>

<div *ngIf="totalCount > videosPerPage">
    <div class="pagination-header">Result pages</div>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped table-hover left-align">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="center" *ngIf="isForRentals()">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of videos
                    | paginate: {itemsPerPage: videosPerPage,
                        currentPage: pageNumber + 1, totalItems: totalCount}"
                    (click)="onVideoClick(video)">
                    <td>{{video.title}}</td>
                    <td class="center" *ngIf="isForRentals()">{{video.code}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="margin-top-10px">
    <button class="btn btn-primary" [routerLink]="['/admin/addVideo', isForRentals()]">
        Add video
    </button>
</div>

