<div class="margin-top-10px">
    <dv-items-per-page-select [itemsPerPage]="videosPerPage"
                              [onSelect]="onVideosPerPageSelect">
    </dv-items-per-page-select>
    <dv-search-field domain="titles" [searchText]="titleSearchText"
                     [onSubmit]="onTitleSearchTextChange">
    </dv-search-field>
    <dv-search-field *ngIf="isRenting" domain="codes" [searchText]="codeSearchText"
                     [onSubmit]="onCodeSearchTextChange">
    </dv-search-field>
    <dv-search-select domain="tag" [width]="'150px'" [items]="tags" [currentItem]="searchTag"
                      [onSelect]="onTagSelect">
    </dv-search-select>
    <dv-search-select domain="studio" [width]="'200px'" [items]="studios"
                      [currentItem]="searchStudio" [onSelect]="onStudioSelect">
    </dv-search-select>
</div>

<div class="pagination-header">Filter by title first character</div>
<dv-first-letter-filter [currentLetter]="firstLetter"
                        [onLetterSelect]="onFirstLetterSelect">
</dv-first-letter-filter>

<div *ngIf="totalCount > videosPerPage">
    <div class="pagination-header">Result pages</div>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<table id="videosTable"
    class="table table-striped table-hover left-align margin-top-15px">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Studio</th>
            <th class="text-center" *ngIf="isRenting">Code</th>
            <th class="text-center">Price</th>
            <th class="text-center">Action/Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let video of videos
            | paginate: {itemsPerPage: videosPerPage, currentPage: pageNumber + 1,
                totalItems: totalCount}" (click)="onVideoClick(video)">
            <td width="36%">{{video.title}}</td>
            <td width="25%">
                <small>
                    <span *ngFor="let tag of video.tags; let i = index">
                        <span style='margin-left: -.3em;' *ngIf="i > 0">, </span>
                        <span class="hover-link"
                            (click)="onTagSelect(tag); $event.stopPropagation()">
                            {{tag}}
                        </span>
                    </span>
                </small>
            </td>
            <td width="17%">
                <span class="hover-link"
                    (click)="onStudioSelect(video.studio); $event.stopPropagation()">
                    {{video.studio}}
                </span>
            </td>
            <td class="center" *ngIf="isRenting" width="7%">
                {{video.code}}
            </td>
            <td class="center" width="7%">
                {{(video.isRental ? prices.rental : prices.forSale)
                    | currency: "USD"}}
            </td>
            <td class="center" width="10%">
                <customer-video-status-button [video]="video"></customer-video-status-button>
            </td>
        </tr>
    </tbody>
</table>
