<button type="button" class="btn btn-primary btn-xs"
    *ngIf="video.status === videoStatuses.available.id"
    [disabled]="!customer"
    (click)="$event.stopPropagation(); cart.addVideo(video);">
    {{video.isRental ? "Rent" : "Add to cart"}}
</button>
<span *ngIf="video.status === videoStatuses.inCart.id && cart.containsVideo(video)">In cart</span>
<span
    *ngIf="video.status === videoStatuses.inCart.id && !cart.containsVideo(video)">
    <small>Not available</small>
</span>
<span *ngIf="video.status === videoStatuses.rented.id" style="font-size: 12px">
    Due back {{getDueBackDate(video) | date: 'M/d'}}
</span>
