<div class="modal-header">
    <button type="button" (click)="onCloseClick()" class="close">
        <span>×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{{video.title}}</h4>
</div>
<div class="modal-body">
    <b>Tags:</b> {{video.tags.join(", ")}}<br>
    <b>Studio:</b> {{video.studio}}<br>
    <b>Director:</b> {{video.director}}<br>
    <b>Year:</b> {{video.year}}<br>
    <b>Price:</b>
    {{(video.isRental ? prices.rental : prices.forSale)
    | currency: "USD"}}<br>
    <div ng-if="video.isRental">
        <b>Code:</b> {{video.code}}<br>
    </div>
</div>
<div class="modal-footer">
    <customer-video-status-button [video]="video"></customer-video-status-button>
</div>
