<div class="margin-top-10px">
    <dv-items-per-page-select domain="Customers" [itemsPerPage]="customersPerPage"
                              [onSelect]="onCustomersPerPageSelect">
    </dv-items-per-page-select>
    <dv-search-field domain="last names" [searchText]="lastNameSearchText"
                     [onSubmit]="onLastNameSearchTextChange">
    </dv-search-field>
</div>

<div class="pagination-header">Filter by first character of last name</div>
<dv-first-letter-filter [currentLetter]="firstLetter"
                        [onLetterSelect]="onFirstLetterSelect">
</dv-first-letter-filter>

<div *ngIf="totalCount > customersPerPage">
    <div class="pagination-header">Result pages</div>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped table-hover left-align">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers
                    | paginate: {itemsPerPage: customersPerPage,
                        currentPage: pageNumber + 1, totalItems: totalCount}"
                    (click)="onCustomerClick(customer)">
                    <td>{{customer.lastName + ', ' + customer.firstName}}</td>
                    <td class="right-align">
                        <button class="btn btn-xs btn-default"
                            (click)="onConsignmentClick(customer); $event.stopPropagation()">
                            Consignment
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="margin-top-10px">
    <button class="btn btn-primary" routerLink="/admin/addCustomer">
        Add customer
    </button>
</div>