<div class="left-align" *ngIf="customer">
    <h3>{{isForAdding ? "Add" : "Edit"}} customer</h3>
    <dv-customer-info-form [customer]="customer"></dv-customer-info-form>
    <div class="form-group"
        *ngIf="customer.emailAddress && customer.emailAddress.endsWith('@no.email')">
        (The e-mail address is also the password.)
    </div>
    <div class="form-group margin-top-20px">
        <button class="btn btn-primary" (click)="saveCustomer()"
            [disabled]="shouldDisableSaveButton()">
            Save
        </button>
        <button class="btn btn-default margin-left-15px" routerLink="/admin/customers">
            Cancel
        </button>
    </div>
</div>
