<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped left-align">
            <thead>
                <tr>
                    <th>E-mail address</th>
                    <th class="center">Should notify of orders</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let admin of admins">
                <td>{{admin.emailAddress}}</td>
                <td class="center">
                    <input type="checkbox" [(ngModel)]="admin.shouldNotifyOfOrders"
                        (change)="onShouldNotifyChange(admin)" title="Should notify">
                </td>
                <td>
                    <button class="btn btn-danger btn-xs"
                        (click)="onRemoveClick(admin)">
                        Remove
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
