<div name="loginInfo" class="left-align">
    <h4 class="margin-top-30px">Create admin</h4>
    <div class="form-group">
        <label for="emailAddress" class="control-label">E-mail Address</label>
        <input id="emailAddress" type="text"
            class="form-control inline-block long-field" [(ngModel)]="emailAddress"/>
    </div>
    <div class="form-group">
        <label for="password" class="control-label">
            Password (must be at least five characters long)
        </label>
        <input id="password" type="password" class="form-control medium-field"
            [(ngModel)]="password"/>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="onCreateClick()"
            [disabled]="shouldDisableCreateButton()">
            Create
        </button>
    </div>
    <span role="alert" class="error" *ngIf="isAddressInUse">
        The address submitted is already in use.
    </span>
</div>
