<div class="left-align">
    <h4 class="margin-top-30px">Create account</h4>
    <div *ngIf="!isAddressValidated">
        <div class="form-group">
            <label for="emailAddress" class="control-label">E-mail Address</label>
            <input id="emailAddress" type="text"
                class="form-control inline-block long-field"
                [(ngModel)]="emailAddress"/>
            <button type="button" class="btn btn-sm btn-primary margin-left-10px"
                (click)="validateEmailAddress()"
                [disabled]="shouldDisableSubmitEmailAddressButton()">
                Submit
            </button>
        </div>
        <div role="alert" class="error" *ngIf="isAddressInUse">
            The address submitted is already in use.
        </div>
        <div class="form-group" *ngIf="validationCode">
            <p>
                A message has been sent to the address you submitted.
                Please enter the validation code it contains.
            </p>
            <div class="form-group">
                <label for="validationCodeField" class="control-label">
                    Validation code
                </label>
                <input id="validationCodeField"
                    class="form-control inline-block tiny-field"
                    [(ngModel)]="validationCodeEntered"/>
                <button type="button" class="btn btn-sm btn-primary margin-left-10px"
                    (click)="onValidationCodeSubmit()">
                    Submit
                </button>
            </div>
            <div role="alert">
                <span class="error" *ngIf="isCodeInvalid">
                    Incorrect code
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="isAddressValidated && !isAccountCreated">
        <p>Thank you, your e-mail address has been validated.</p>
        <p>All fields are required.</p>
        <div>
            <div class="form-group login-name-field-div">
                <label for="firstName" class="control-label">First name</label>
                <input id="firstName" [(ngModel)]="firstName"
                    class="form-control medium-field"/>
            </div>
            <div class="form-group login-name-field-div margin-left-20px">
                <label for="lastName" class="control-label">Last name</label>
                <input id="lastName" class="form-control long-field"
                    [(ngModel)]="lastName"/>
            </div>
        </div>
        <p>Your password entries must match, and be at least five characters long.</p>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input id="password" type="password"
                class="form-control medium-field" [(ngModel)]="password"/>
        </div>
        <div class="form-group">
            <label for="reenteredPassword" class="control-label">
                Re-enter password
            </label>
            <input id="reenteredPassword" type="password"
                class="form-control medium-field" [(ngModel)]="reenteredPassword"/>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary"
                (click)="createAccount()"
                [disabled]="shouldDisableCreateAccountButton()">
                Create account
            </button>
        </div>
    </div>
    <div *ngIf="isAccountCreated">
        <p>Your account has been created.</p>
        <button class="btn btn-primary" routerLink="/app/login">
            Log in
        </button>
    </div>
    <div class="margin-top-20px" *ngIf="!isAccountCreated">
        Already have an account?
        <button class="btn btn-xs" routerLink="/app/login">
            Click here
        </button>
    </div>
</div>
