<div class="left-align">
    <dv-login-form userTypeName="customer" [(emailAddress)]="emailAddress" [logIn]="logIn">
    </dv-login-form>
    <div class="form-group">
        <p>
            Forgot your password? Enter your address, then
            <button class="btn btn-xs" (click)="onForgotPasswordClick()"
                [disabled]="shouldDisableForgotPasswordButton()">
                Click here
            </button>
        </p>
    </div>
    <div class="form-group" *ngIf="isPasswordMessageSent">
        <p>
            A message containing a substitute code has been sent to the address
            you have supplied.  Enter that code below to log in.
            Afterward, you should change your password.
        </p>
        <input id="substituteCode" class="form-control inline-block"
            title="Substitute code" [(ngModel)]="substituteCode" style="width: 100px"/>
        <button class="btn btn-xs" (click)="onValidateSubstituteCodeClick()">
            Submit
        </button>
        <div role="alert" class="error" *ngIf="isSubstituteCodeInvalid">
            Invalid code
        </div>
    </div>
    <div class="margin-top-20px">
        Don't have an account?
        <button class="btn btn-xs" routerLink="/app/createAccount">
            Click here
        </button>
    </div>
</div>
