<div class="row" *ngIf="customer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped left-align">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="center">Consignment date</th>
                    <th class="center">Sale date</th>
                    <th class="right-align">Credit earned</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of videos">
                    <td>{{video.title}}</td>
                    <td class="center">{{video.consignmentDate | date:'M/d/yy'}}</td>
                    <td class="center">
                        {{(video.status === videoStatuses.sold.id)
                        ? (video.statusDate | date:'M/d/yy') : ''}}
                    </td>
                    <td class="right-align">
                        {{video.creditGiven | currency: 'USD'}}
                    </td>
                </tr>
            </tbody>
            <tfoot style="font-weight: bold">
                <tr>
                    <td class="right-align" colspan="3">Total credit earned:</td>
                    <td class="right-align">{{totalCredit | currency: 'USD'}}</td>
                </tr>
                <tr>
                    <td class="right-align" colspan="3">Credit remaining:</td>
                    <td class="right-align">
                        {{(customer.credit || 0) | currency: 'USD'}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
