<div>
    <div class="form-group">
        <label for="firstName" class="control-label">First name</label>
        <input id="firstName" class="form-control medium-field"
            [(ngModel)]="customer.firstName"/>
    </div>
    <div class="form-group">
        <label for="lastName" class="control-label">Last name</label>
        <input id="lastName" class="form-control long-field"
            [(ngModel)]="customer.lastName"/>
    </div>
    <div class="form-group">
        <label for="address" class="control-label">Address</label>
        <input id="address" class="form-control long-field"
            [(ngModel)]="customer.address"/>
    </div>
    <div class="form-group">
        <label for="city" class="control-label">City</label>
        <input id="city" class="form-control medium-long-field"
            [(ngModel)]="customer.city"/>
    </div>
    <div class="form-group">
        <label for="state" class="control-label">State</label>
        <select id="state" class="form-control" [(ngModel)]="customer.state"
            style="width: 70px" >
            <option *ngFor="let state of usStates" value="{{state.abbrev}}">
                {{state.abbrev}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="zipCode" class="control-label">Zip code</label>
        <input id="zipCode" name="zipCode" class="form-control short-field" type="text"
            [(ngModel)]="customer.zipCode"/>
        <div role="alert">
            <span class="error"
                *ngIf="customer.zipCode && customer.zipCode.length > 0
                    && !isZipCodeValid()">
                Please use xxxxx or xxxxx-xxxx format
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber" class="control-label">Phone number</label>
        <input id="phoneNumber" name="phoneNumber" class="form-control medium-field"
            [(ngModel)]="customer.phoneNumber"/>
        <div role="alert">
            <span class="error"
                *ngIf="customer.phoneNumber && customer.phoneNumber.length > 0
                    && !isPhoneNumberValid()">
                Please use xxx-xxx-xxxx format
            </span>
        </div>
    </div>
    <div class="form-group">
        E-mail address:<br>{{customer.emailAddress || '(Will be generated)'}}
    </div>
</div>