<div class="left-align" *ngIf="order">
    <h3>Edit order</h3>
    <p>Date: {{order.date | date:'M/d/yyyy  h:mm a'}}</p>
    <p>
        <span class="underline">Customer</span><br>
        {{order.customer.firstName + " " + order.customer.lastName}}<br>
        {{order.customer.address}}<br>
        {{order.customer.city + ", " + order.customer.state
            + " " + order.customer.zipCode}}<br>
        Phone: {{order.customer.phoneNumber}}<br>
        E-mail:
        <a href="mailTo:{{order.customer.emailAddress}}">
            {{order.customer.emailAddress}}
        </a>
    </p>
    <p *ngIf="doesOrderContainRentals()">
        Rentals due date: {{order.rentalsDueDate | date:'M/d/yyyy'}}
        <span *ngIf="isOverdue()" style="color: brown; margin-left: 10px">
            ({{getDaysOverdue()}} days overdue)
        </span>
    </p>
    <table class="table table-striped left-align"
        [ngStyle]="doesOrderContainRentals()
            ? {'max-width': '700px'} :  {'max-width': '400px'}">
        <thead>
            <tr>
                <th>Title</th>
                <th class="center" *ngIf="doesOrderContainRentals()">Code</th>
                <th class="right-align">Price</th>
                <th class="center" *ngIf="doesOrderContainRentals()">
                    Has been returned
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of sortedVideos">
                <td>{{video.title}}</td>
                <td class="center" *ngIf="doesOrderContainRentals()">
                    {{video.code}}
                </td>
                <td class="right-align">{{video.price | currency: 'USD'}}</td>
                <td class="center" *ngIf="doesOrderContainRentals()">
                    <input type="checkbox" [(ngModel)]="video.isReturned"
                        (change)="updateIsReturned(video)" title="Is returned">
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="doesOrderContainRentals()">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="center">
                    <button class="btn btn-default"
                        (click)="onMarkAllAsReturnedClick()">
                        Mark all as returned
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="left-align margin-top-20px">
        <tr>
            <td>Subtotal:</td>
            <td class="right-align">{{order.productsTotal | currency: 'USD'}}</td>
        </tr>
        <tr *ngIf="order.creditApplied">
            <td>Credit applied:</td>
            <td class="right-align">-{{order.creditApplied | currency: 'USD'}}</td>
        </tr>
        <tr>
            <td>Tax <small>(7.0%, CA only)</small>:</td>
            <td class="right-align">{{order.tax | currency: 'USD'}}</td>
        </tr>
        <tr>
            <td>Shipping:</td>
            <td class="right-align">{{order.shippingTotal | currency: 'USD'}}</td>
        </tr>
        <tr class="large-font">
            <td>Total:</td>
            <td class="right-align">{{order.finalPrice | currency: 'USD'}}</td>
        </tr>
    </table>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="order.isShipped"
                    (change)="updateIsShipped()"> Has shipped
            </label>
        </div>
    </div>
    <div class="form-group margin-top-20px">
        <button class="btn btn-primary" routerLink="/admin/orders">
            Back
        </button>
    </div>
</div>
