<div class="form-inline center margin-top-10px">
    <div class="form-group">
        <dv-items-per-page-select [itemsPerPage]="ordersPerPage"
                                  [onSelect]="onOrdersPerPageSelect">
        </dv-items-per-page-select>
    </div>
    <div class="form-group">
        <dv-search-field domain="customer last names"
                         [searchText]="customerNameSearchText"
                         [onSubmit]="onCustomerNameSearchTextChange">
        </dv-search-field>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="shouldExcludeShipped"
                    (change)="onShouldExcludeShippedChange()"> Not yet shipped
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="shouldLimitToOverdue"
                    (change)="onShouldLimitToOverdueChange()"> Overdue
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="shouldExcludeReturned"
                    (change)="onShouldExcludeReturnedChange()"> Not yet returned
            </label>
        </div>
    </div>
</div>

<div class="pagination-header">Filter by first character of customer last name
</div>
<dv-first-letter-filter [currentLetter]="firstLetter"
                        [onLetterSelect]="onFirstLetterSelect">
</dv-first-letter-filter>

<div *ngIf="totalCount > ordersPerPage">
    <div class="pagination-header">Result pages</div>
    <pagination-controls
        (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped table-hover left-align">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th class="center">Date</th>
                    <th class="right-align">Total amount</th>
                    <th class="center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders
                    | paginate: {itemsPerPage: ordersPerPage,
                        currentPage: pageNumber + 1, totalItems: totalCount}"
                    (click)="onOrderClick(order)">
                    <td>{{order.customer.lastName + ', ' + order.customer.firstName}}</td>
                    <td class="center">{{order.date | date:'M/d/yyyy h:mm a'}}</td>
                    <td class="right-align">{{order.finalPrice | currency: 'USD'}}</td>
                    <td class="center">
                    <span style="color: red" *ngIf="!order.isShipped">
                        Not yet shipped
                    </span>
                        <span style="color: brown"
                            *ngIf="order.isShipped && isNotYetReturned(order)
                            && isOverdue(order)">
                        Overdue
                    </span>
                        <span style="color: darkblue"
                            *ngIf="order.isShipped && !isOverdue(order)
                            && isNotYetReturned(order)">
                        Not yet returned
                    </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
