<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped left-align">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="center">Rental date</th>
                    <ng-template [ngIf]="isForCurrent">
                        <th class="center">Due date</th>
                        <th class="center">Has Shipped</th>
                    </ng-template>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of videos">
                    <td>{{video.title}}</td>
                    <td class="center">{{video.rentalDate | date:'M/d/yy'}}</td>
                    <ng-template [ngIf]="isForCurrent">
                        <td class="center"
                            [class.overdue]="now > video.dueDate">{{video.dueDate | date:'M/d/yy'}}</td>
                        <td class="center">{{video.isShipped ? 'yes' : 'no'}}</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
