<div *ngIf="currentVideos?.length > 0; else noCurrentVideos">
    <h4>Your currently rented videos</h4>
    <dv-rented-videos-table [isForCurrent]="true"
        [videos]="currentVideos"></dv-rented-videos-table>
</div>
<ng-template #noCurrentVideos>
    <div class="margin-top-30px margin-bottom-30px">You have no currently rented videos.</div>
</ng-template>

<div *ngIf="pastVideos?.length > 0; else noPastVideos" class="margin-top-40px">
    <h4>Your rented videos you have returned</h4>
    <dv-rented-videos-table [isForCurrent]="false"
        [videos]="pastVideos"></dv-rented-videos-table>
</div>
<ng-template #noPastVideos>
    <div class="margin-top-30px margin-bottom-30px">You have no past rented videos.</div>
</ng-template>
