<h4 class="margin-top-30px">Your Order</h4>

<div class="checkout-column center" *ngIf="cart && customer" style="margin: 0 auto">
    <table class="left-align" style="margin: 0 auto">
        <tr *ngFor="let video of cart.getAllVideos()">
            <td>{{video.isRental ? "Rent" : "Buy"}} <i>{{video.title}}</i></td>
            <td class="right-align">
                {{(video.isRental ? prices.rental : prices.forSale) | currency: 'USD'}}
            </td>
        </tr>
        <tr>
            <td>Subtotal:</td>
            <td class="right-align">{{cart.getTotalPrice() | currency: 'USD'}}</td>
        </tr>
        <tr>
            <td>Credit:</td>
            <td class="right-align">
                -{{cart.getCreditToApply() | currency: 'USD'}}
            </td>
        </tr>
        <tr>
            <td>Tax <small>(7.0%, CA only)</small>:</td>
            <td class="right-align">
                {{cart.getTotalTax(customer.state) | currency: 'USD'}}
            </td>
        </tr>
        <tr>
            <td>Shipping:</td>
            <td class="right-align">
                {{cart.getTotalShipping() | currency: 'USD'}}
            </td>
        </tr>
        <tr class="large-font">
            <td>Total:</td>
            <td class="right-align">
                {{cart.getFinalPrice(customer.state) | currency: 'USD'}}
            </td>
        </tr>
    </table>
</div>

<div class="row" *ngIf="cart && customer">
    <div class="col-sm-6 center">
        <h4 class="margin-top-30px">Your Shipping Info</h4>
        <p>(All fields are required)</p>
        <div class="checkout-column left-align">
            <dv-customer-info-form [customer]="customer"></dv-customer-info-form>
        </div>
    </div>

    <div class="col-sm-6">
        <h4 class="margin-top-30px">Shipping rates</h4>
        <p *ngIf="isRenting">
            1-7 DVDs: $14<br>
            Additional DVDs: $2 each<br>
            (Rate includes return postage)
        </p>
        <p *ngIf="!isRenting">
            1-10 DVDs: $10<br>
            11+ DVDs: $20
        </p>

        <h4 class="margin-top-30px">Your Payment Info</h4>
        <button type="button" class="btn btn-primary"
            (click)="displayPaymentDialog()"
            [disabled]="!isCustomerInfoValid()">
            Specify card info
        </button>
        <div *ngIf="paymentToken">
            <span class="glyphicon glyphicon-ok"></span>
            Payment info specified
        </div>

        <div *ngIf="isRenting">
            <h4 class="margin-top-30px">Rental Agreement</h4>
            <div class="checkout-column left-align">
                <textarea class="form-control" style="width: 100%"
                    [ngModel]="rentalAgreement" rows="6" title="rentalAgreement"
                    readonly="readonly">
                </textarea>
                <div class="center margin-top-10px">
                    By clicking "Place order" you certify that you have read
                    and understand the Rental Agreement and you agree
                    to its terms and conditions.
                </div>
            </div>
        </div>

        <h4  class="margin-top-30px">Order Placement</h4>
        <button type="button" class="btn btn-primary" (click)="placeOrder()"
            [disabled]="!isCustomerInfoValid() || !paymentToken">
            Place order
        </button>
    </div>
</div>
