<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        {{text}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onOkClick()">
            Ok
        </button>
        <button *ngIf="shouldShowCancel" type="button" class="btn btn-default">
            Cancel
        </button>
    </div>
</div>