<div class="aligned-center">
    <ul class="pagination pagination-sm">
        <li *ngFor="let letter of letters" [ngClass]="{active: letter === currentLetter}"
            (click)="onLetterClick(letter);">
            <a>{{letter == noFirstLetterFilterValue
                ? 'All' : (letter == '0' ? '0-9' : letter)}}</a>
        </li>
    </ul>
</div>
