<div class="search-bar-section">
    <label class="inline-block margin-right-5px">Display per page</label>
    <select title="Items per page"
        [(ngModel)]="itemsPerPage" class="form-control inline-block"
        (ngModelChange)="onSelect($event)">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{option}}
        </option>
    </select>
</div>
