<div class="search-bar-section">
    <label [attr.for]="domain + 'Select'" class="inline-block margin-right-5px">
        Search by {{domain}}
    </label>
    <select [attr.id]="domain + 'Select'" class="form-control inline-block"
        [(ngModel)]="currentItem" (ngModelChange)="onSelect($event)"
        [style.width]="width">
        <option *ngFor="let item of items" [value]="item">
            {{item}}
        </option>
    </select>
    <button type="button" class="btn btn-default btn-xs search-field-button"
        (click)='onRemove()'>
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
