<div class="search-bar-section">
    <label for="{{domain}}_searchText" class="margin-right-5px">Search in {{domain}}</label>
    <input type="text" id="{{domain}}_searchText" [(ngModel)]="searchText"
        class="form-control inline-block" style="width: 6em"
        (keypress)="onKeypress($event)"/>
    <button type="submit" class="btn btn-default btn-xs search-field-button"
        (click)='onSubmit(searchText)'>
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs search-field-button"
        (click)="onRemove()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
