<div class="left-align">
    <h4 class="margin-top-30px">Change password</h4>
    <p>Your password entries must match, and be at least five characters long.</p>
    <div class="form-group">
        <label for="newPassword" class="control-label">Password</label>
        <input id="newPassword" name="newPassword" type="password" class="form-control"
            [(ngModel)]="newPassword" ng-minlength="5" />
    </div>
    <div class="form-group">
        <label for="reenteredPassword" class="control-label">
            Re-enter password
        </label>
        <input id="reenteredPassword" type="password" class="form-control"
            [(ngModel)]="reenteredPassword" />
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="changePassword()"
            [disabled]="isPasswordChanged || !areEntriesValid()">
            Change password
        </button>
    </div>
    <p *ngIf="isPasswordChanged">Password successfully changed.</p>
</div>