<div class="left-align">
    <h4 class="margin-top-30px">Log in</h4>
    <div class="form-group">
        <label for="emailAddress" class="control-label">E-mail Address</label>
        <input id="emailAddress" type="text" class="form-control long-field"
            [(ngModel)]="emailAddress" (ngModelChange)="emailAddressChange.emit($event)"/>
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" type="password" class="form-control medium-field"
            [(ngModel)]="password"/>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="onLoginClick()"
            [disabled]="shouldDisableLoginButton()">
            Log in
        </button>
    </div>
    <div role="alert" class="error" *ngIf="isLoginInvalid">
        <p>Invalid log in</p>
    </div>
</div>
