.tiny-field {
    max-width: 80px;
}

.short-field {
    max-width: 120em;
}

.medium-field {
    min-width: 150px;
}

.medium-long-field {
    min-width: 200px;
}

.long-field {
    min-width: 280px;
}

.longer-field {
    min-width: 350px;
}
