.control-label {
  display: block;
  text-align: left;
  margin: 0; }

form, .form, .form-inline {
  text-align: left; }

.form-group {
  margin-right: 20px; }

.form-control {
  width: inherit;
  /* overrides Bootstrap's crazy 100% default */ }

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto; }

.input-group-btn {
  display: block; }

.error {
  color: red; }

/*# sourceMappingURL=forms.css.map */
