.margin-left-5px {
    margin-left: 5px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-left-15px {
    margin-left: 15px;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-left-30px {
    margin-left: 30px;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-right-5px {
    margin-right: 5px;
}

.margin-right-10px {
    margin-right: 10px;
}

.margin-right-15px {
    margin-right: 15px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-40px {
    margin-top: 40px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}

