.table {
  margin-top: 0;
  margin-bottom: 0; }

.cart-table {
  margin-bottom: 30px; }

.table > tbody > tr > td {
  vertical-align: inherit; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f2dcb6; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e0c8ab; }

.pagination {
  margin: 0; }

.pagination-header {
  font-size: 11px;
  margin-top: 10px; }

.pagination > li > a,
.pagination > li > a:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:focus {
  background-color: transparent; }

.pagination > li > a:hover,
.pagination > .disabled > a:hover {
  background-color: #F2EDB6; }

.control-label {
  display: block;
  text-align: left;
  margin: 0; }

form, .form, .form-inline {
  text-align: left; }

.form-group {
  margin-right: 20px; }

.form-control {
  width: inherit;
  /* overrides Bootstrap's crazy 100% default */ }

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto; }

.input-group-btn {
  display: block; }

.error {
  color: red; }

.short-field {
  max-width: 7em; }

.long-field {
  min-width: 280px; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center {
  text-align: center; }

body {
  background-color: #fff0c8; }

.navbar {
  margin-bottom: 0; }

label {
  font-weight: normal; }

.large-font {
  font-size: large; }

.inline-block {
  display: inline-block; }

.search-bar-section {
  margin-right: 20px;
  display: inline-block; }

.hover-link:hover {
  text-decoration: underline;
  cursor: pointer; }

.checkout-column {
  margin: 0 auto;
  max-width: 300px; }

.age-warning {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.login-name-field-div {
  display: inline-block;
  vertical-align: top; }

.trailing-back-arrow {
  display: inline;
  margin-left: 15px; }

.search-field-button {
  padding-top: 4px;
  padding-bottom: 4px; }

.background {
  background-image: url("../images/background.png"); }

.cart {
  text-align: left;
  margin-top: 20px; }

button > span.glyphicon {
  padding: 2px 0 4px 0; }
