@import "./tables.scss";
@import "./forms.scss";
@import "./fields.scss";
@import "./alignments.scss";
@import "./margins.scss";
@import "./fonts.scss";

body {
    background-color: #fff0c8;
}

.navbar {
    margin-bottom: 0;
}

label {
    font-weight: normal;
}

.inline-block {
    display: inline-block;
}

.hover-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.trailing-back-arrow {
    display: inline;
    margin-left: 15px;
}

button > span.glyphicon {
    padding: 2px 0 4px 0;
}

.pointer {
    cursor: pointer;
}
