.table {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.cart-table {
    margin-bottom: 30px;
}

.table > tbody > tr > td {
    vertical-align: inherit;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f2dcb6;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #e0c8ab;
}

.pagination {
    margin: 0;
    cursor: pointer;
}

.pagination-header {
    font-size: 11px;
    margin-top: 10px;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:focus {
    background-color: transparent;
}

.pagination > li > a:hover,
.pagination > .disabled > a:hover {
    background-color: #F2EDB6;
}

